
@{
    ViewData["Title"] = "SuccessView";
}

<h1>Success!</h1>
<p>Your action was completed successfully.</p>

<div>
    <a asp-action="Index">Back to Generate OTP</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

